/*******CSS card de l'aide****************/
body {
  font-family: Arial, Helvetica, sans-serif;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 400px;
  perspective: 1000px;
  overflow: hidden;
  margin-bottom: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #cdd9dd;
  color: white;
  overflow: hidden;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}

.flip-card-back {
  background-color: #cdd9dd;
  color: rgb(255, 255, 255);
  transform: rotateY(180deg);
  overflow: hidden;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}
.card-aide {
  overflow: hidden;
  -webkit-border-radius: 100px;

  -moz-border-radius: 100px;
  margin-top: 20px;

  -moz-box-shadow: 0px 0px 10px #343434;
  -webkit-box-shadow: 0px 0px 10px #343434;
  -o-box-shadow: 0px 0px 10px #343434;
  box-shadow: 0px 0px 10px #343434;
  width: 200px;
  height: 200px;
}
.card-aide img {
  padding-top: 10px;
}

/************css navbar******************/
.logo-nav {
  margin-left: 30px;
}
/***********css cards accueil***********/
.cards {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
hr {
  background-color: rgb(230, 227, 20);
  height: 1px;
}

/****************css carousel***********/
.caroussel {
  margin-top: 200px;
}
/************css filtres****************/
.filtre {
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
}
/***********css table de réservations****/
.liste-reserv-aide {
  margin-top: 100px;
}
.liste-reserv-aide h1 {
  text-align: center;
}
/***************** css text ****************/
.text {
  margin-top: 100px;
  color: black;
}

h1 {
  font-family: Gotham-book;
  text-align: center;
  font-size: 50px;
  margin: 50px 0;
}
.fa {
  font-size: 50px;
  color: rgb(230, 227, 20);
}
strong {
  font-style: oblique;
}
/******************* css pagination ******************/
#page-numbers > li {
  margin-right: 0.3em;
  color: blue;
  user-select: none;
  cursor: pointer;
  list-style-type: none;
  display: inline-block;
  /* float: right; */
}

/************************css footer*******/
/***********************css image under navbar***/
#apppage .gradient {
  background: -moz-linear-gradient(
    45deg,
    rgba(42, 27, 161, 0.7),
    rgba(29, 210, 177, 0.7) 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(42, 27, 161, 0.7),
    rgba(29, 210, 177, 0.7) 100%
  );
  background: -webkit-gradient(
    linear,
    45deg,
    from(rgba(42, 27, 161, 0.7)),
    to(rgba(29, 210, 177, 0.7))
  );
  background: -o-linear-gradient(
    45deg,
    rgba(42, 27, 161, 0.7),
    rgba(29, 210, 177, 0.7) 100%
  );
  /* background: linear-gradient(
    45deg,
    rgba(42, 27, 161, 0.7),
    rgba(29, 210, 177, 0.7) 100%
  ); */
}

#apppage .view {
  background-image: url("http://localhost:3000/photo1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
}

#apppage h6 {
  line-height: 1.7;
}

@media only screen and (max-width: 400px) {
  #apppage .animated img {
    max-height: 50vh;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
  }
}
@media only screen and (max-width: 767px) {
  #apppage .animated img {
    max-height: 35vh;
    transform: translateX(-50%);
    left: 50%;
  }
}

@media (max-width: 767px) and (orientation: landscape) {
  #apppage .animated img {
    max-height: 50vh;
    transform: translateX(-50%);
    left: 50%;
    position: relative;
  }
}
@media (max-width: 1000px) and (orientation: landscape) {
  #apppage .view {
    min-height: 150vh;
  }
}
